In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
# import matplotlib.ticker as mticks

import missingno as miss

import seaborn as sns
import numpy as np

In [2]:
weather_df = pd.read_csv ('london_weather_MODIFIED - london_weather_MODIFIED.csv')

In [3]:
weather_df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

In [4]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

# Converting Date Column into a datetime dtype

In [5]:
weather_df['datetime'] = pd.to_datetime(weather_df['date'])
weather_df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,datetime
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1970-01-01 00:00:00.019790101
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1970-01-01 00:00:00.019790102
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1970-01-01 00:00:00.019790103
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,1970-01-01 00:00:00.019790104
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,1970-01-01 00:00:00.019790105
...,...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN,1970-01-01 00:00:00.020201227
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN,1970-01-01 00:00:00.020201228
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN,1970-01-01 00:00:00.020201229
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN,1970-01-01 00:00:00.020201230
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN,1970-01-01 00:00:00.020201231

# Set Date as Index

In [6]:
df_ts = weather_df.set_index('date')
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15341 entries, 19790101 to 20201231
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cloud_cover       14938 non-null  float64
 1   sunshine          14957 non-null  float64
 2   global_radiation  14939 non-null  float64
 3   max_temp          14951 non-null  float64
 4   mean_temp         14922 non-null  float64
 5   min_temp          14955 non-null  float64
 6   precipitation     14951 non-null  float64
 7   pressure          14953 non-null  float64
 8   snow_depth        13589 non-null  float64
 9   datetime          15341 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9)
memory usage: 1.3 MB

In [7]:
df_ts.index

Int64Index([19790101, 19790102, 19790103, 19790104, 19790105, 19790106,
            19790107, 19790108, 19790109, 19790110,
            ...
            20201222, 20201223, 20201224, 20201225, 20201226, 20201227,
            20201228, 20201229, 20201230, 20201231],
           dtype='int64', name='date', length=15341)

# Keeping only Year 2000 and higher

In [11]:
df_D = df_ts.asfreq('D')
df_D.head()

                              datetime
date
1970-01-01 00:00:00.019790101      NaT

In [9]:
cols = [col for col in df_ts.columns if 'datetime' in col]
cols

['datetime']

In [10]:
df_ts = df_ts[cols]
df_ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15341 entries, 19790101 to 20201231
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  15341 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 239.7 KB