In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks
import datetime as dt
import missingno as miss

import seaborn as sns
import numpy as np
pd.set_option('display.float_format',lambda x:f"{x:,.2f}")

In [2]:
sns.set_context('notebook', font_scale=0.9)
plt.style.use(['ggplot'])

In [4]:
default ="%Y-%m-%d %H:%M:%S.%f"
fmt = "%m/%d/%Y %I:%M:%S %p"

In [5]:
weather_df = pd.read_csv ('london_weather_MODIFIED - london_weather_MODIFIED.csv')

In [6]:
weather_df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.00,7.00,52.00,2.30,-4.10,-7.50,0.40,"101,900.00",9.00
1,19790102,6.00,1.70,27.00,1.60,-2.60,-7.50,0.00,"102,530.00",8.00
2,19790103,5.00,0.00,13.00,1.30,-2.80,-7.20,0.00,"102,050.00",4.00
3,19790104,8.00,0.00,13.00,-0.30,-2.60,-6.50,0.00,"100,840.00",2.00
4,19790105,6.00,2.00,29.00,5.60,-0.80,-1.40,0.00,"102,250.00",1.00

In [7]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

# Convert into a single column

In [ ]:
%%time

## Need to figure out about this
sp500_min_df['datetime'] = sp500_min_df['Date'] + ' ' + sp500_min_df['Time']
sp500_min_df.head()


sp500_min_df = sp500_min_df.drop(columns=['Date','Time'])
sp500_min_df.head()

# Converting Date Column into a datetime dtype

In [ ]:
%%time
## Make a datetime index using pd.to_datetime
weather_df['temp_datetime'] = pd.to_datetime(weather_df['date'])
weather_df

In [ ]:
weather_df.info()

In [ ]:
weather_df['temp_datetime'][0]

In [ ]:
%%time
## Creating/testing our time format


fmt = '%m/%d/%Y %H:%M'

## Test Format
weather_df['temp_datetime'] = pd.to_datetime(weather_df['temp_datetime'],
                                              format=fmt)

In [ ]:
weather_df.info()

# Set Date as Index

In [ ]:
df_ts = weather_df.set_index('temp_datetime')
df_ts.info()

In [ ]:
df_ts.index

# Keeping only Year 2000 and higher

In [ ]:
plt.rcParams['figure.figsize']

In [ ]:
plt.rcParams['figure.figsize'] = [12,3]

In [ ]:
df_ts.plot();

In [ ]:
df_ts.loc['2000']

In [ ]:
df_ts.plot()

In [ ]:
df_temp.isna().sum()

In [ ]:
# Fill with back fill
ts_bfill = df_min.fillna(method='bfill')

#plot backfilled data
ax = ts_bfill.plot(style='.-')
ax.axvspan('2020-03-21','2020-03-23',alpha=0.5)
ax.set(title='bfill', ylabel="Temperature");

In [ ]:
ts_ffill = df_min.fillna(method='ffill')
#plot forward data
ax = ts_ffill.plot(style='.-')
ax.axvspan('2020-03-21','2020-03-23',alpha=0.5)
ax.set(title='bfill', ylabel="Temperature");

In [ ]:
# Interpolate missing data
ts_interpolate = df_min.interpolate()

# Plot interpolated data
ax = ts_interpolate.plot(style='.-')
ax.axvspan('2020-03-21','2020-03-23',alpha=0.5)
ax.set(title='bfill', ylabel="Temperature");